<div class="menu">
    <section>
        <img class="navbar-icon" src="assets/images/navbar/mountains.svg" alt="mountains">
    </section>
    <section class="icon-container">
        <img class="navbar-icon" src="assets/images/navbar/world-navbar.svg" alt="world">
        <img style="width: 2.5rem;" src="assets/images/navbar/camera-video.svg" alt="camera">
        <img class="navbar-icon" src="assets/images/navbar/signal.svg" alt="signal">
        <img style="width: 1.9rem;" src="assets/images/navbar/nuclear-chimney.svg" alt="nuclear">
        <img class="navbar-icon" src="assets/images/navbar/exit.svg" alt="exit">
    </section>
</div>