<div class="menu">
    <section>
        <button><img class="navbar-icon" src="assets/images/navbar/mountains.svg" alt="mountains"></button>
    </section>
    <section class="icon-container">
        <button><img class="navbar-icon" src="assets/images/navbar/world-navbar.svg" alt="world"></button>
        <button><img style="width: 2.5rem;" src="assets/images/navbar/camera-video.svg" alt="camera"></button>
        <button><img class="navbar-icon" src="assets/images/navbar/signal.svg" alt="signal"></button>
        <button><img style="width: 1.9rem;" src="assets/images/navbar/nuclear-chimney.svg" alt="nuclear"></button>
        <button (click)="closeSesion()"><img class="navbar-icon" src="assets/images/navbar/exit.svg" alt="exit"></button>
    </section>
</div>