<img class="back-image" src="assets/images/info-image.png" alt="info">
<img class="front-image" src="assets/images/fondo-1.png" alt="info">
<div class="info-container">
    <h2>{{data.title}}</h2>
    <p>{{data.description}}</p>
    <section class="functionalities">
        <div>
            <img src="" alt="">
            <h4>Monitoreo integral</h4>
        </div>
        <span>Administra, monitoria mutiples plantas de forma centralizada</span>
    </section>
    <section class="functionalities">
        <div>
            <img src="" alt="">
            <h4>Notificaciones en tiempo real</h4>
        </div>
        <span>Recibi notificaciones en tiempo real sobre las mediciones</span>
    </section>
</div>