<button *ngIf="sensor && image" class="sensor" (click)="updateSensor()">
    <section class="data-container">
        <h4>{{sensor.sensorType.name}}</h4>
        <div>
            <section class="data">
                <img src="">
                <span>{{sensor.readings}}</span>
            </section>
            <section class="data">
                <img src="" >
                <span>{{sensor.averageAlerts}}</span>
            </section>
            <section class="data">
                <img src="">
                <span>{{sensor.redAlerts}}</span>
            </section>
        </div>
    </section>
    <section class="bg-image">
        <img src={{image}}>
    </section>
</button>
<app-sensor-update-form *ngIf="showForm && plantUuid" [selectedSensor]="sensor" [plantUuid]="plantUuid" (updatedSensor)="getUpdatedSensor($event)" (closeForm)="onCloseForm()"></app-sensor-update-form>
