.sensor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem 1rem 2rem;
    gap: 3rem;
    border: 0px;
    border-radius: 1rem;
    cursor: pointer;
}

.data-container{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.sensor div {
    display: flex;
    gap: 4rem;
}

.data{
    width: 2rem;
}

.bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-ligth);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
}

.sensor img {
    width: 2rem;
}



