<div class="total-data-container" *ngIf="globalData?.length === 4">
    <app-total-card  *ngFor="let item of globalData" [key]="item.key" [title]="item.title" [value]="item.value" [imgSrc]="item.img"></app-total-card>
</div>
<div class="plants-container">
    <section class="table-header">
        <div>
            <h4>Plantas</h4>
            <button (click)="addPlant()">+ Crear nueva planta</button>
        </div>
        <app-plant-save-form *ngIf="isToPostPlant" (closeForm)="onCloseForm()"></app-plant-save-form>
    </section>
    <table class="table-section">
        <thead class="table-head">
            <tr>
                <th>País</th>
                <th>Nombre de planta</th>
                <th><img src="assets/images/alerts/ok.svg"> Lecturas ok</th>
                <th><img src="assets/images/alerts/alert.svg"> Alertas medias</th>
                <th><img src="assets/images/alerts/danger.svg"> Alertas rojas</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-body" *ngIf="plants && totalSumPlants">
            <tr class="trb" *ngFor="let plant of plants; let i = index" [ngClass]="{'selected': selectedRow === i}">
                <td>{{ plant.name }}</td>
                <td>{{ plant.country }}</td>
                <td>{{ totalSumPlants[i].totalReadings }}</td>
                <td>{{ totalSumPlants[i].totalAverageAlerts }}</td>
                <td>{{ totalSumPlants[i].totalRedAlerts }}</td>
                <td style="display: flex; justify-self: flex-end; align-items: center; gap: 2rem;">
                    <button (click)="selectRow(i)">
                        {{ selectedRow === i ? 'Dejar de ver' : 'Ver planta' }}
                    </button>
                    <button style="all: unset; cursor: pointer;" (click)="selectRow(i)">
                        <img style="width: 2rem;" src="assets/images/edit.svg">
                    </button>
                </td>
            </tr>
        </tbody>
        <section class="extra-option-plant" *ngIf="extraOptionPlant && selectedPlant">
            <button (click)="editPlant()">Editar planta</button>
            <button (click)="deletePlant(selectedPlant)">Borrar planta</button>
        </section>
    </table>
    <app-alert-card *ngIf="alertMessage" [message]="alertMessage" (closeAlert)="onCloseAlert()"></app-alert-card>
    <app-plant-update-form *ngIf="isToUpdatePlant && selectedPlant" [selectedPlant]="selectedPlant" (closeForm)="onCloseForm()"></app-plant-update-form>
</div>
<div class="sensors-container">
    <h3>Monitoreo por plantas</h3>
    <section  *ngIf="selectedPlant; else notPlant">
        <h4>{{selectedPlant.country}}</h4>
        <div class="sensors-grid">
            <app-sensor-card *ngFor="let sen of selectedPlant.sensors; let i = index" [image]="sensorsImage[i]" [sensor]="sen"></app-sensor-card>
        </div>
    </section>
    <ng-template #notPlant>
        <section class="sensors-grid-empty">
            <p>
                Selecciona una planta de la tabla.<br>
                Para mostrar los resultados
            </p>
        </section>
    </ng-template>
</div>
