<div class="total-data-container" *ngIf="globalData?.length === 4">
    <app-total-card  *ngFor="let item of globalData" [key]="item.key" [title]="item.title" [value]="item.value" [imgSrc]="item.img"></app-total-card>
</div>
<div class="plants-container" ngSkipHydratation>
    <section class="table-header">
        <div>
            <h4>Plantas</h4>
            <button>+ Crear nueva planta</button>
        </div>
    </section>
    <table class="table-section">
        <thead>
            <tr>
                <th>País</th>
                <th>Nombre de planta</th>
                <th><img src="assets/images/alerts/ok.svg"> Lecturas ok</th>
                <th><img src="assets/images/alerts/alert.svg"> Alertas medias</th>
                <th><img src="assets/images/alerts/danger.svg"> Alertas rojas</th>
            </tr>
        </thead>
        <tbody *ngIf="plants && totalSumPlants">
            <tr *ngFor="let plant of plants; let i = index" [ngClass]="{'selected': selectedRow === i}">
                <td>{{ plant.name }}</td>
                <td>{{ plant.country }}</td>
                <td>{{ totalSumPlants[i].totalReadings }}</td>
                <td>{{ totalSumPlants[i].totalAverageAlerts }}</td>
                <td>{{ totalSumPlants[i].totalRedAlerts }}</td>
                <td><button (click)="selectRow(i)">
                    {{ selectedRow === i ? 'Dejar de ver' : 'Ver planta' }}
                </button></td>
                <td><img style="width: 2rem;" src="assets/images/edit.svg"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="sensors-container" *ngIf="selectedPlant">
    <h3>Monitoreo por plantas</h3>
    <h4>{{selectedPlant.country}}</h4>
    <section class="sensors-grid">
        <app-sensor-card *ngFor="let sen of selectedPlant.sensors; let i = index" [image]="sensorsImage[i]" [sensor]="sen"></app-sensor-card>
    </section>
</div>
